---
sudo: required
dist: xenial

language: python
python:
  - "2.7"
  - "3.5"

env:
  - ANSIBLE_VERSION=latest
  - ANSIBLE_VERSION=2.9.12
  - ANSIBLE_VERSION=2.9.11
  - ANSIBLE_VERSION=2.9.10
  - ANSIBLE_VERSION=2.9.9
  - ANSIBLE_VERSION=2.9.8
  - ANSIBLE_VERSION=2.9.7
  - ANSIBLE_VERSION=2.9.6
  - ANSIBLE_VERSION=2.9.5
  - ANSIBLE_VERSION=2.9.4
  - ANSIBLE_VERSION=2.9.3
  - ANSIBLE_VERSION=2.9.2
  - ANSIBLE_VERSION=2.9.1
  - ANSIBLE_VERSION=2.9.0
  - ANSIBLE_VERSION=2.8.14
  - ANSIBLE_VERSION=2.8.13
  - ANSIBLE_VERSION=2.8.12
  - ANSIBLE_VERSION=2.8.11
  - ANSIBLE_VERSION=2.8.10
  - ANSIBLE_VERSION=2.8.9
  - ANSIBLE_VERSION=2.8.8
  - ANSIBLE_VERSION=2.8.7
  - ANSIBLE_VERSION=2.8.6
  - ANSIBLE_VERSION=2.8.5
  - ANSIBLE_VERSION=2.8.4
  - ANSIBLE_VERSION=2.8.3
  - ANSIBLE_VERSION=2.8.2
  - ANSIBLE_VERSION=2.8.1
  - ANSIBLE_VERSION=2.8.0
  - ANSIBLE_VERSION=2.7.18
  - ANSIBLE_VERSION=2.7.17
  - ANSIBLE_VERSION=2.7.16
  - ANSIBLE_VERSION=2.7.15
  - ANSIBLE_VERSION=2.7.14
  - ANSIBLE_VERSION=2.7.13
  - ANSIBLE_VERSION=2.7.12
  - ANSIBLE_VERSION=2.7.11
  - ANSIBLE_VERSION=2.7.10
  - ANSIBLE_VERSION=2.7.9
  - ANSIBLE_VERSION=2.7.8
  - ANSIBLE_VERSION=2.7.7
  - ANSIBLE_VERSION=2.7.6
  - ANSIBLE_VERSION=2.7.5
  - ANSIBLE_VERSION=2.7.4
  - ANSIBLE_VERSION=2.7.3
  - ANSIBLE_VERSION=2.7.2
  - ANSIBLE_VERSION=2.7.1
  - ANSIBLE_VERSION=2.7.0
  - ANSIBLE_VERSION=2.6.20
  - ANSIBLE_VERSION=2.6.19
  - ANSIBLE_VERSION=2.6.18
  - ANSIBLE_VERSION=2.6.17
  - ANSIBLE_VERSION=2.6.16
  - ANSIBLE_VERSION=2.6.15
  - ANSIBLE_VERSION=2.6.14
  - ANSIBLE_VERSION=2.6.13
  - ANSIBLE_VERSION=2.6.12
  - ANSIBLE_VERSION=2.6.11
  - ANSIBLE_VERSION=2.6.10
  - ANSIBLE_VERSION=2.6.9
  - ANSIBLE_VERSION=2.6.8
  - ANSIBLE_VERSION=2.6.7
  - ANSIBLE_VERSION=2.6.6
  - ANSIBLE_VERSION=2.6.5
  - ANSIBLE_VERSION=2.6.4
  - ANSIBLE_VERSION=2.6.3
  - ANSIBLE_VERSION=2.6.2
  - ANSIBLE_VERSION=2.6.1
  - ANSIBLE_VERSION=2.6.0

branches:
  only:
    - master

before_install:
  - sudo apt-get update -qq

  # Remove openssh-client
  - sudo apt-get remove --purge --yes openssh-client

install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible-lint; fi

script:
  # Check the role/playbook's syntax.
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check

  # Run the role/playbook with ansible-playbook.
  - ansible-playbook -i tests/inventory tests/test.yml -vvvv

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/test.yml
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  - if [ "$ANSIBLE_VERSION" = "latest" ]; then ansible-lint tests/test.yml; fi

notifications:
  email: false
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    rooms:
      secure: "SACR+2IAfqrL9Evi+y71uNAkF/b0dsgDo7cKOQdD6J7CyRu3whYFPiajcQ6KNb/ToMKS7MrRO7MKs5emIUG8rKy6iYYUO77bwrb6sn+4SRhvl+dOdPsMFGIl1c5NTzMGdRtjjoXuxH2krgdbLREMC4vBMDIIpkBd4nylq8XzK+3H7kOe1o0k+T+miy3G1lx7/v5dkgFBgOLzwfjktv46bT4j3XpWWruP6OCRREFRjKf8HjQV4hPaYxDND5V2uCL9s0LtPyDjCqXBw1EuMzlT5q4PvCjcYwYt0cZf4gAUd0uFEC92YjhCw8w2bVptORIAdlG0UQnq6+F4PVyorz3awJroKj475qNO5PS3D7uYeFRcLwfBslI7IDzRYAcLdM6kNubjLnJOZMQK0S3/ExttFyGzBeLs42STareda34gnl7VUpwSsAKVJc57EHnvKerp8NnmBObeSJPHs6ptQzs1FFmgajimbQQFSOFyZy7wBI58B+Pp3B2jJAdPriK40JpmqQCXm86tsnHISFLhc00Px3xXMr0E4fw97NgE2PEskERme2La79vtpHZSu6FLkgicDHbPZ92vyxu7JA8MW5hGzPvz6GnwhPXOGhXAKAho1WQD75+QazGt5UeXRSfXVY2HHTLaAmjPf3SgR4R+Sr5IzEjJTgOMmzqiLM+URhM1yNQ="
