# tasks file for ssh-client
---
- name: install dependencies
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  with_items: ssh_client_dependencies
  tags: [configuration, ssh-client, ssh-client-dependencies]

- name: install additional
  apt:
    name: "{{ item }}"
    state: latest
  with_items: ssh_client_install
  tags: [configuration, ssh-client, ssh-client-install]

- name: create configuration directories
  file:
    path: "{{ item.dest | dirname }}"
    state: directory
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default(item.owner) | default('root') }}"
    mode: "{{ '0755' if item.dest | dirname | match('/etc/.*') else '0700' }}"
  with_items: ssh_client_configurations
  tags: [configuration, ssh-client, ssh-client-configuration]

- name: update configuration files
  template:
    src: etc/ssh/ssh_config.j2
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default(item.owner) | default('root') }}"
    mode: 0644
  with_items: ssh_client_configurations
  tags: [configuration, ssh-client, ssh-client-configuration]
